/**
 * Calendar styles
 */
.hour-row {
	overflow: scroll;
	width: 100%;
	position: relative;
}
.legend {
	float: left;
	width: 5%;
	font-size: 10px;
}
.legend .hour span {
	display: block;
	margin-top: -8px;
	text-align: right;
	padding-right: 5px;
}
.legend .hour.hidden + .hour span {
	margin-top: -4px;
}
.legend .hour.hidden + .hour {
	height: 39px;
}
.legend .hour {
	position: relative;
	border: none !important;
}
.placeholder.hour a {
	font-size: 0.8em;
	padding: 0 0 0 0;
	height: 40px;
	overflow: hidden;
	text-align: center;
	display: block;
}
.day {
	float: left;
	width: 13.57%;
	border-left: 1px solid #eee;
}
.day.today {
	background: #efefff;
}
.day.today .hour {
	background: #f7f7ff;
	border-color: #e8e8e8;
}
.day:first-child {
	border: none;
}
.day .title {
	border-bottom: 3px solid #eee;
	padding: 10px;
	text-align: center;
}
.day .hour, .legend .hour {
	height: 25px;
	border-bottom: 1px solid #eee;
	width: 100%;
	transition: background 0.1s;
	position: relative;
}
.title-row .hour {
	width: 5%;
	float: left;
	min-height: 1px;
}
.legend .hour {
	height: 33px;
}
.hour {
	transition: height 0.25s !important;
}
.day .hour.hidden, .legend .hour.hidden {
	height: 0px !important;
	border: 0;
	display: block!important;
	margin: 0 !important;
}
.legend .hour.hidden span {
	display: none;
}
.popup {
	width: 300%;
	height: 200px;
	background: #fff;
	border: 2px solid #ccc;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left: -100%;
}
.clear {
	clear: both;
}
.event {
	position: absolute;
	padding: 0px 2px 2px 2px;
	width: 14%;
}
.event .content a {
	display: block;
	padding: 5px 10px;
	margin: 0;
	background: #a00;
	color: #fff !important;
	text-align: center;
	margin: 0 -10px -14px;
}
.event .content a.accept {
	background: #5b0;
}
.event .content b {
	margin-bottom: 7px;
	display: inline-block;
}
.event .content {
	display: block;
	color: #fff !important;
	line-height: 1.5;
	font-weight: 300;
	width: 100%;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	height: 100%;
	overflow: hidden;
	padding: 5px 10px 5px;
	line-height: 1.15;
	font-size: 0.8em;
  border-radius: 2px;
}
.event.not-confirmed .content {
	background: rgba(33, 150, 243, 0.5);
}
.event.highlight .content {
	background: rgba(243, 45, 33, 0.5) !important;
}
.event .content.child {
	opacity: 0.7;
	color: #555 !important;
	background: rgba(200, 200, 200, 0.3) !important;
}
.event .content .text {
}
.event .content .to, .event .content .from {
	position: absolute;
	right: 4px;
	font-size: 65%;
}
.event .content .from {
	top: 3px;
}
.event .content .to {
	bottom: 3px;
}


.center {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	margin: 0 0 0 10px;
}

a.action {
	display: table;
    background: #2196f3;
    border-bottom: 4px solid #1e88e5;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 18px 7px;
    color: #fff !important;
    text-align: center;
    margin: 20px auto 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.controls {
  position: static;
  display: inline-block;
  width: auto;
  height: 30px !important;
  margin-bottom: 10px;
  clear: both;
}
.controls a {
  color: #fff !important;
  padding: 10px;
  margin: 0 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.controls a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.controls span {
  margin: 0 10px;
}
.outer {
  margin: 10px 0 30px;
}



.week-component {
	width: auto;
	overflow: scroll;
}
.week {
	min-width: 600px;
}

